/* это файл стилей*/
        table
        {
           height: 10px;
           width: 100%;
           background-color: rgb(3, 18, 97);
           color:black;
           margin: 0 0 0 0;
           padding: 0 0 0 0;
           position: fixed;
        }
        tbody
        {
           width: 100%;
           margin: 0 0 0 0;
           padding: 0 0 0 0;
        }
        tr
        {
           width: 100%;
           margin: 0 0 0 0;
           padding: 0 0 0 0;
        }
        td
        {
           width: 20%;
           text-align: center;
        }
        td:hover
        {
          background-color: black;
        }
        body
        {
            background-color: black;
            min-height: 600px;
            overflow-x: hidden;
            margin: 0;
        }
        a
        {
            color: red;
            
        }
        button
        {
          Background-color: red;
          width: 140px;
          border-radius: 10px;
          border-color:red;
          border: 3px;
          position: absolute;
          left: 935px;
          top:385px;
          height: 40px;
        }
        button:hover
        {
          background-color: yellow;
        }
        h2.red
        {
          color: red;
          font-size: 28px;
        }
        h2.black
        {
          color:black;
          font-size: 14px;
        }
        h3.purple
        {
            color: purple;
            color: #e1b70f;
        }
        h1.blue
        {
            color: blue;
            color: #ff0060;
        }
        div.content
        {
          width: 100%;
        }
        div.info
        {
          width: 33%;
          display: inline-block;
          background-color:#1d1b8d;
          vertical-align: top;
          text-align: center;
          vertical-align: bottom;
        }
        form
        {
          border: 10px solid green;
          text-align: center;
          margin-left: calc(38vw);
          margin-right: calc(38vw);
          background-color: green;
          border-radius:25px;
        }
        footer
        {
          margin-left: 10%;
        }
        header
        {
          display: flex;
          justify-content: space-between;
        }
        #grid
        {
          min-height: 600px; 
          display: grid;
          grid-template-areas: 
           'one two'
           'one three'
           'one three'
           'four three';
          grid-gap: 5px;
        }
        #grid1 {grid-area:one}
        #grid2 {grid-area:two}
        #grid3 {grid-area:three}
        #grid4 {grid-area:four}

        input:focus
        {
          background-color: yellow;
        }
        input:checked+span
        {
           background-color: yellow;
        }
        /*@keyframes poster
        {
          0% {margin-left: -180px;margin-right: 0px;}
          50% {margin-left: 0px;margin-right: -180px;opacity:0.2;}
          100% {margin-left: -180px;margin-right: 0px;}
        }
        #poster
        {
          animation: poster 5s ease-in-out infinite;
        }*/
        @keyframes button
        {
          0%{transform: scale(0.9);}
          100%{transform: scale(1.8);}
        }
        #button:hover
        {
          animation: button 1s ease normal;
          animation-fill-mode: forwards;
        }
        #poster:hover
        {
           
        }
        .cut1
        {
          position: absolute;
          z-index: 2;
          top: 95px;
          left: 308px;
        }
        .cut1:hover
        {
          transform: translate(5px,5px);
        }
        .cut2
        {
          position: absolute;
          z-index: 2;
          top: 95px;
          left: 426px;
        }
        .cut2:hover
        {
          transform: translate(5px,5px);
        }
        .cut3
        {
          position: absolute;
          z-index: 2;
          top: 95px;
          left: 530px;
        }
        .cut3:hover
        {
          transform: translate(5px,5px);
        }
        .cut4
        {
          position: absolute;
          z-index: 2;
          top: 95px;
          left: 636px;
        }
        .cut4:hover
        {
          transform: translate(5px,5px);
        }
        .cut5
        {
          position: absolute;
          z-index: 2;
          top: 95px;
          left: 750px;
        }
        .cut5:hover
        {
          transform: translate(5px,5px);
        }
        .cut6
        {
          position: absolute;
          z-index: 2;
          top: 95px;
          left: 855px;
        }
        .cut6:hover
        {
          transform: translate(5px,5px);
        }
         audio
         {
           position: relative;
           left: 0;
           transition: left 0.2s;
         }
         audio:hover
         {
           left: 15px;
         }