/* это файл стилей*/
        table
        {
           height: 10px;
           width: 100%;
           background-color: rgb(3, 18, 97);
           color:black;
           margin: 0 0 0 0;
           padding: 0 0 0 0;
        }
        tbody
        {
           width: 100%;
           margin: 0 0 0 0;
           padding: 0 0 0 0;
        }
        tr
        {
           width: 100%;
           margin: 0 0 0 0;
           padding: 0 0 0 0;
        }
        td
        {
           width: 20%;
           text-align: center;
        }
        td:hover
        {
          background-color: black;
        }
        body
        {
            background-color: black;
            min-height: 600px;
        }
        a
        {
            color: red;
            
        }
        button
        {
          Background-color: red;
          width: 140px;
          border-radius: 10px;
          border-color:red;
          border: 3px;
          position: absolute;
          left: 935px;
          top:405px;
          height: 40px;
        }
        h2.red
        {
          color: red;
          font-size: 28px;
        }
        h2.black
        {
          color:black;
          font-size: 14px;
        }
        h3.purple
        {
            color: purple;
            color: #e1b70f;
        }
        h1.blue
        {
            color: blue;
            color: #ff0060;
        }
        div.content
        {
          width: 100%;
        }
        div.info
        {
          width: 33%;
          display: inline-block;
          background-color:#1d1b8d;
          vertical-align: top;
          text-align: center;
          vertical-align: bottom;
        }
        form
        {
          border: 10px solid green;
          text-align: center;
          margin-left: calc(38vw);
          margin-right: calc(38vw);
          background-color: green;
          border-radius:25px;
        }
        footer
        {
          margin-left: 10%;
        }
        header
        {
          display: flex;
          justify-content: space-between;
        }
        #grid
        {
          min-height: 600px; 
          display: grid;
          grid-template-areas: 
           'one one one three three'
           'one one one four four'
           'two two two four four'
           'two two two five five';
          grid-gap: 5px;
        }
        #grid1 {grid-area:one}
        #grid2 {grid-area:two}
        #grid3 {grid-area:three}
        #grid4 {grid-area:four}
        #grid5 {grid-area:five}
        input:focus
        {
          background-color: red;
        }
